body {
    background-color: #F3EBF6;
    font-family: 'Ubuntu', sans-serif;
    padding:0;
    margin:0;
}

header {
    position: absolute;
    top: 0;
    padding:0;
    margin:0;
    background-color: #f5d9ff;
    width: 100%;
    height:12vh;
}

header h1 {
    position: absolute;
    left: 6vh;
    top: 1vh;
    cursor: default;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 27px;
    margin-top: 0px;
}

header form {
    position: relative;
    padding: 0;
    display: block;
    float: top;
    margin: 0;
}

.search {
    position: absolute;
    right:90vh;
    top:4vh;
    height: 30px;
    width: 250px;
    border-radius: 5em;
    border-color: #F3EBF6;
    background-color: #F3EBF6;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

.search:focus {
    outline: none;
}

.search_button {
    cursor: pointer;
    position: absolute;
    right:79vh;
    top:4vh;
    height: 30px;
    width: 60px;
    border-radius: 5em;
    border-color: #F3EBF6;
    background-color: #F3EBF6;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

.search_button:focus {
    outline: none;
}

.search_button:hover {
    filter: brightness(105%)
}

.back {
    cursor: pointer;
    position: absolute;
    right:2vh;
    top:2vh;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 12px;
    padding-top: 12px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    margin-top: 0%;
    font-size: 18px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.back:hover {
    filter: brightness(105%)
}

.delete_friend_button {
    cursor: pointer;
    height: 30px;
    width: 100px;
    border-radius: 5em;
    border-color: #F3EBF6;
    background-color: #F3EBF6;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

.delete_friend_button:focus {
    outline: none;
}

.delete_friend_button:hover {
    filter: brightness(105%)
}

.table {
    width: 97%;
    margin: 0 auto;
    height: auto;
    border-collapse: collapse;
    border-radius: 15em;
    border-color: #F3EBF6;
    border: 2px solid;
    background-color: #FFFFFF;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    table-layout:fixed;
}

.table_scroll {
    position: absolute;
    right: 5%;
    top: 15vh;
    height: 80vh;
    width: 90%;
    border-radius: 1em;
    border-color: #F3EBF6;
    background-color: #FFFFFF;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    overflow:auto;
}

.col1 {
    width: 80%;
}

.col2 {
    width: 20%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    vert-align: middle;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 5px;
    height: 25px;
}

th {
    position: -webkit-sticky;
    position: sticky;
    cursor: default;
    top: 0;
    z-index: 2;
    background: #f7edfa;
}

tr {
    overflow: hidden;
    height: 30px;
    white-space: nowrap;
    align-content: center;
    align-items: center;
    vert-align: middle;
    vertical-align: middle;
}

a:link {
    color: #8C55AA;
}

a:visited {
    color: #8C55AA;
}

a:hover {
    color: #8C55AA;
}

a:active {
    color: #8C55AA;
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}