<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style_friend.css}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Friend's gift list</title>
</head>
<body>
<header>
    <h1>Present?<br>Simple!</h1>
</header>

<div class="table_scroll">
    <table class="table"><tr>
        <th align="center">Gift</th>
        <th align="center">Price category</th>
    </tr>
        <tr th:each="row : ${gifts}">
            <td class="col1" th:text="${row.gift}"></td>
            <td class="col2" th:text="${row.price}"></td>
        </tr>
    </table>
</div>

<button class="back" onclick="window.location.href='/welcome'">Back</button>

</body>
</html>