<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/style_index.css}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Gifts</title>
</head>

<body>
<header>
    <h1>ProjectName</h1>
    <form th:action="@{/logout}" method="post">
        <button class="logout" type="submit">Log out</button>
    </form>

    <form method="get" th:action="@{/search}">
        <input class="search" type="text" placeholder=" Search..." th:name="search" id="search">
        <input class="search_button" type="submit"/>
    </form>

</header>

<div>
    <div class="gift_table_scroll">
        <table  class="gift_table"><tr>
            <th align="center">Gift</th>
            <th align="center">Price category</th>
            <th align="center"></th></tr>
            <tr th:each="row : ${gifts}">
                <td class="gift_col1" th:text="${row.gift}"></td>
                <td class="gift_col2" th:text="${row.price}"></td>
                <td class="gift_col3">
                    <form method="post" th:action="@{/removeGift}">
                        <button class="delete_friend_button" type="submit" th:name="id" th:value="${row.id}">Remove</button>
                    </form></td>
            </tr>
        </table>
    </div>

    <form name="form" th:action="@{/addGift}" method="post" th:object="${newGift}">
        <input class="gift_name" type="text" th:field="*{gift}" placeholder=" Enter the gift you want">
        <select class="gift_category" th:field="*{price}">
            <option value="" disabled selected>  Select price category</option>
            <option value="Unknown">Unknown</option>
            <option value="Cheap (under 500 roubles)">Cheap (under 500 roubles)</option>
            <option value="Medium (under 2500 roubles)">Medium (under 2500 roubles)</option>
            <option value="Expensive (under 5000 roubles)">Expensive (under 5000 roubles)</option>
        </select>
    <button class="add_gift" type="submit">Add</button>
    </form>

    <table  class="second_form">
        <tr th:each="row : ${friends}">
            <td><a th:href="@{/{friendLink}(friendLink = ${row.friend})}">
                <span th:text="${row.friend}"></span></td>
            <td><form method="post" th:action="@{/removeFriend}">
                <button class="delete_friend_button" type="submit" th:value="${row.id}" th:name="friendId">Remove</button>
            </form></td>
        </tr>
    </table>
</div>
</body>
</html>